img{
width:						1265px;
}

h1{
text-align:					center;
color:						red;
}

p{
color:						white;
padding:					0px 10px 0px 10px;
font-size:					20px;
line-height:				150%;
}

#wrapper{
width:						1265px;
background-color:			black;

}

#navigation li{
display:					inline-block;
font-size:					35px;
width:						300px;
}

a:link
{
color:						#FFFFFF;
}

a:visited
{
color:						#FFFFFF;
}

a:hover 
{
color:						#FFFFFF;
}

#Vip h2{
text-align:					center;
text-decoration:			underline;
color:						red;
}

#Vip p{
text-align:					center;
}

#Vip img{
display:					block;
margin:						0 auto;
width:						75px;
height:						50px;
}

#features{
color:						white;
line-height:				150%;
}

#image img{
display:					block;
margin:						0 auto;
padding:					30px 0px 50px 0px;
width:						300px;
height:						250px;
}

#table table, th, td{
width:						1245px;
border-collapse:			collapse;
margin-left:				10px;
padding:					0px 10px 0px 10px;
border:						2px solid white;
color:						white;
}

#footer{
background-color:						gray;
}
